<div class="col-xs-12">

<div class="row-fluid">

<div class="col-xs-4">
<h1>The Image Upload App </h1>
</div>
<div class="col-xs-4">
<h1>We're using the refile gem  <%= link_to "Refile Gem Documentation", 'https://github.com/elabs/refile' %> </h1> 
</div>


<div class="col-xs-4">
<h1>Hello World </h1> 
</div>
</div>

</div>